@import "https://fonts.googleapis.com/css?family=DM+Serif+Display|Heebo|Indie+Flower|Merriweather|Mountains+of+Christmas|Noto+Serif|Slabo+27px|Work+Sans&display=swap";

* {
  box-sizing: border-box
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,.6)),url(../assets/3.jpeg);
  background-size: cover;

}

header,
section,
footer {
  overflow-x: hidden;

}

:root {
  --dm: "DM Serif Display", cursive;
  --heebo: Heebo, cursive;
  --indie: "Indie Flower", cursive;
  --merrie: Merriweather, cursive;
  --mountains: "Mountains of Christmas", cursive;
  --noto: "Noto Serif", cursive;
  --lightblack: #2e2e2e;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512ff);
  --lightgray: rgba(255, 255, 255, 0)
}

.el {
  padding: 0.25em;
  text-align: center;
  font-size: 2em;
  color: whitesmoke;
  font-family: var(--merrie);
  
}

.indexhead {
  padding: 0.75em;
  text-align: center;
  font-size: 2em;
  color: teal;
  font-family: var(--merrie);
  
}

option{
  background-color: gray;
}


input[type=text],
input[type=number],
select,
textarea,
input[type=password] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 0.25em;
  resize: vertical;
  background: transparent;
  color: white;

}

label {
  padding: 0.75em 0.75em 0.75em 0;
  display: inline-block;
}

.container {
  border-radius: 0.3em;
  background-color: transparent;
  opacity: 1;
  padding: 1em;
  color: white; 
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 0.4em;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 0.4em;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75 {
    width: 100%;
    margin-top: 0;
  }
}


input[type=submit] {
  font-size: 1em;
  font-weight: bold;
  font-family: var(--noto);
  letter-spacing: 0.2em;
  border-radius: 0.5em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 0.25em;
}


table,
th,
td {
  border: 1px solid gold;
  text-align: center;
  font-size: 1.2em;
  
}

th{
  color: blanchedalmond;
}

table {
  width: 100%;
  margin: 0.5em;
  
}

table .btnedit {
  color: lightgreen;
  cursor: pointer;
}

table .btndelete {
  color: red;
  cursor: pointer;
}

table .btnread{
  color: yellow;
  cursor: pointer;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

.login {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 1em;
  font-family: var(--mountains);
  
}

.logina {
  padding: 0.5em;
  background-color: #4CAF50;
  cursor: pointer;

}

#myinput {

  max-width: 20%;
  margin: 1em;
  font-size: 1em;
}



/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 0.6em 1.2em;
  background-color: #f44336;
  cursor: pointer;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  padding-top: 60px;
  color: black;
  
}

/* Modal Content/Box */
.modal-content {
  
  background-color: lightblue;
  margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 0.1em solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  
  
}

.loginform{
  color: black;
  border-color: black;
  border-radius: 0.5em;
}

#uname,#psw{
  color: black;
  background-origin: padding-box;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}


.btnlogin{
  background-color: goldenrod;
 
  padding: 1em 1.25em;
  margin: 0.5em 0;
  border: none;
  cursor: pointer;
  max-width: 20%;
  margin-right: auto;
  margin-left: auto;

}


button {
  margin:auto;
  display:block;
  border-radius: 0.5em;
}

a{
  margin:auto;
  display:block;
  max-width: 25%;
  width:auto;
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
}

.center {
  text-align: center;
}

#pagination {
  display: inline-block;
}

#pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

#pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

#pageno{
  max-width: 10%;
  display: inline;
  margin: 1em;  
 
}

#go{
  max-width: 10%;
  float: right;
  margin: 1em;
  margin-right: 1em;

}

::placeholder{
  color: white;
  
}

